* {
    font-family: "Inter", sans-serif;
}

/*  active-class for nav links */
.nav-link {
    transition: all 0.3s ease;
    position: relative;
    padding: 6px 12px;
    border-radius: 0.5rem;
    color: #4B5563;
}

.nav-link.active {
    color: #4F46E5;
    font-weight: 600;
    background-color: #EEF2FF;
    border-radius: 0.5rem;
    padding: 6px 12px;
}

.nav-link:hover {
    color: #4F46E5;
    background-color: #F3F4F6;
    border-radius: 0.5rem;
}

/* active-class for category buttons */
.category-btn {
    background-color: #eef2ff;
    color: #4f46e5;
}

.category-btn:hover {
    background-color: #e0e7ff;
}

.active {
    background-color: #6366f1 !important;
    color: #ffffff !important;
    font-weight: 600;
}
